@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;
html {
  text-size-adjust: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

body {
  @include font-smoothing(on);
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  align-items: center;
  align-content: center;
  justify-content: center;
}

table {
  position: relative;
  align-content: center;
  align-items: flex-start;
}

tbody {
  align-items: center;
  align-content: center;
  position: center;
}

div {
  align-items: center;
  align-content: center;
  justify-content: center;
}

h1 {
  align-items: center;
  position: relative;
  align-content: center;
  justify-content: center;
  left: 150px;
}
